/***********************************************************************************
 *	+ SLIDERS
 ***********************************************************************************/


/* REVOLUTION SLIDER */

.rev_slider_wrapper {
    /* margin-bottom: 10px; */
    height: 650px;
}

.header-style-3 .rev_slider_wrapper {
    position: relative;
    top: -50px;
    margin-bottom: -50px !important;
}


/* BULLETS */

.tp-bullets.custom .tp-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #E38B3B;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: none;
}

.tp-bullets.custom .tp-bullet:hover,
.tp-bullets.custom .tp-bullet.selected {
    background-color: #E38B3B;
    display: none;
}


/* TYPOGRAPHY */

.tp-caption.title-1 {
    color: #fff;
    font-size: 36px;
    line-height: 36px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.tp-caption.title-2 {
    color: #252733;
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
}

.tp-caption.title-3 {
    color: #b4a196;
    font-size: 72px;
    line-height: 72px;
    font-weight: 300;
    text-transform: uppercase;
}

.tp-caption.title-4 {
    padding: 2px 5px;
    background-color: #252733;
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    text-transform: uppercase;
}

.tp-caption.title-4 span {
    color: #b4a196;
    font-weight: 300;
}

.tp-caption.subtitle {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.tp-caption.text {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.tp-caption.text-2 {
    color: #252733;
    font-size: 18px;
    line-height: 26px;
}

.tp-caption .btn {
    font-size: 14px;
}

.tp-caption .btn-default {
    margin-top: 1em;
    background-color: #373E51;
}

.tp-caption .btn-default:hover,
.tp-caption .btn-default:after {
    background-color: rgb(227, 139, 59, 0.258);
    color: #ffffff;
    border: none;
}

.tp-caption .btn-white {
    border-color: #fff;
    color: #fff;
}

.tp-caption.rectangle {
    width: 790px;
    height: 185px;
    border-left: 5px solid #b4a196;
    background-color: #252733;
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-style-3 .rev_slider_wrapper {
        margin-top: 0;
    }
    .tparrows.tp-leftarrow,
    .tparrows.tp-rightarrow {
        display: none;
    }
    .tp-caption .btn {
        padding: 8px 20px;
        border-radius: 3px;
        font-size: 10px;
    }
    .tp-caption.rectangle {
        width: 550px;
        height: 125px;
    }
    .headline h1,
    .headline h2,
    .headline h3,
    .headline h4 {
        font-size: 1.62em;
    }
}

@media (max-width: 767px) {
    .header-style-3 .rev_slider_wrapper {
        margin-top: 0;
    }
    .tparrows.tp-leftarrow,
    .tparrows.tp-rightarrow {
        display: none;
    }
    .tp-bullets.custom {
        top: auto !important;
        bottom: -30px !important;
    }
    .tp-caption.title-3 sup {
        top: -10px;
        font-size: 10px;
    }
    .tp-caption .btn {
        padding: 3px 7px;
        /* border-radius: 1px; */
        font-size: 4px;
    }
    .tp-caption.rectangle {
        width: 230px;
        height: 55px;
    }
    .headline h1,
    .headline h2,
    .headline h3,
    .headline h4 {
        font-size: 1.1em;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .tp-caption.rectangle {
        width: 350px;
        height: 75px;
    }
    .tp-caption .btn {
        padding: 5px 12px;
        border-radius: 1px;
        font-size: 6px;
    }
    .headline h1,
    .headline h2,
    .headline h3,
    .headline h4 {
        font-size: 0.9em;
    }
}


/* OWL Carousel */

.owl-carousel {
    margin-bottom: 50px;
}

.owl-carousel .owl-item img {
    display: inline;
    width: auto;
}

.owl-dots {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: -66px;
    margin-top: 30px;
}

.owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid #BF9256;
    ;
}

.owl-dot:hover,
.owl-dot.active {
    background-color: #BF9256;
    ;
    width: 12px;
    height: 12px;
}

.owl-dot:last-child {
    margin-right: 0;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 42%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-prev {
    left: -20px;
}

.owl-next {
    right: -20px;
}

.owl-prev:before,
.owl-next:before {
    font-family: "FontAwesome";
    font-size: 4em;
}

.owl-prev:before {
    content: "\f104";
    color: #4e9ef3;
}

.owl-next:before {
    content: "\f105";
    color: #4e9ef3;
}

.owl-prev:hover,
.owl-next:hover {
    opacity: 0.5;
}


/* TESTIMONIALS SLIDER STYLE 1 */

.testimonials-slider.style-1 {
    padding: 80px 50px 140px;
    border: 1px solid #ebebeb;
}

.testimonials-slider.style-1 .owl-stage-outer {
    padding-top: 5px;
}

.testimonials-slider.style-1 .owl-dots {
    bottom: 50px;
}

.testimonials-slider.style-1 .testimonial {
    margin-bottom: 0;
}


/* TESTIMONIALS SLIDER STYLE 2 */

.testimonials-slider.style-2 .owl-dots {
    bottom: -20px;
}


/* TESTIMONIALS SLIDER STYLE 3 */

.testimonials-slider.style-3 {
    position: relative;
    margin: 50px 0;
    background-color: #f2f6f8;
}

.testimonial-author-image {
    float: left;
    width: 50%;
    margin-bottom: 0;
}

.testimonials {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    padding: 50px 80px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.testimonials .owl-stage-outer {
    padding-top: 5px;
}

.testimonials .owl-dots {
    bottom: 20px;
    left: 80px;
    text-align: left;
}

.testimonials-slider.style-3 blockquote {
    color: #212121;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}

.testimonials-slider.style-3 blockquote:before {
    display: none;
}

.testimonials-slider.style-3 blockquote footer {
    font-size: 18px;
    color: #212121;
}

.testimonials-slider.style-3:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/* LOGOS SLIDER */

.logos-sider {
    text-align: center;
}

.logos-slider .item a {
    display: block;
    height: 45px;
    padding: 0 20px;
    text-align: center;
    background: no-repeat top center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.logos-slider .item a:hover {
    background-position: bottom center;
}


/* IMAGES SLIDER HORIZONTAL */

.images-slider-horizontal {
    text-align: center;
}

.images-slider-horizontal .owl-dots {
    bottom: -40px;
    width: auto;
}


/* IMAGES SLIDER VERTICAL */

.images-slider-vertical {
    text-align: center;
}

.images-slider-vertical .owl-dots {
    bottom: 0;
    left: -30px;
    width: auto;
    text-align: center;
}

.images-slider-vertical .owl-dot {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
}

.images-slider-vertical .owl-dot:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    .testimonials-slider.style-1 {
        padding: 40px 20px 80px;
    }
    .testimonials {
        padding: 50px 30px;
    }
    .testimonials-slider.style-3 blockquote {
        font-size: 18px;
        line-height: 30px;
    }
    .testimonials .owl-dots {
        left: 30px;
    }
}

@media (max-width: 767px) {
    .owl-dots {
        bottom: 15px;
    }
    .testimonials-slider.style-1 {
        padding: 40px 20px 80px;
    }
    .testimonial-author-image {
        float: none;
        width: 100%;
    }
    .testimonials {
        position: relative;
        top: 0;
        width: 100%;
        padding: 50px 20px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .testimonials .owl-dots {
        left: 20px;
    }
    .images-slider-vertical .owl-dots {
        bottom: -30px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .images-slider-vertical .owl-dot {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 0;
    }
    .images-slider-vertical .owl-dot:last-child {
        margin-right: 0;
    }
}


/***********************************************************************************
 *	+ ANIMATIONS
 ***********************************************************************************/

.wow {
    visibility: hidden;
}

.wow.animated {
    visibility: visible;
}


/***********************************************************************************
 *	+ WIDGETS
 ***********************************************************************************/

.widget {
    margin-bottom: 50px;
}

.widget>*:last-child {
    margin-bottom: 0;
}

.widget-title {
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}


/* WIDGET TEXT */

.widget-text {}

.widget-text div>*:last-child {
    margin-bottom: 0;
}


/* WIDGET SERACH */

.widget-search {}

.widget-search form {
    position: relative;
}

.widget-search #s {
    width: 100%;
    height: 44px;
    padding: 10px 40px 10px 20px;
    border-radius: 20px;
    border-color: #f2f6f8;
    background-color: #f2f6f8;
}

.widget-search #s::-moz-placeholder {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.widget-search #s::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.widget-search #s:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.widget-search input[type="submit"] {
    position: absolute;
    top: 13px;
    right: 15px;
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    background: url("../images/search.png") no-repeat center center;
}

.widget-search #s:focus {
    border-color: #b4a196;
    background-color: #fff;
}


/* WIDGET CATEGORIES */

.widget-categories {}

.widget-categories ul {
    margin-bottom: 0;
    list-style: none;
}

.widget-categories ul li {
    margin-bottom: 15px;
}

.widget-categories ul li:last-child {
    margin-bottom: 0;
}

.widget-categories ul li a {
    position: relative;
    display: block;
    padding-left: 20px;
    color: #838383;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-categories ul li a:before {
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #b4a196;
    opacity: 0;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-categories ul li a:hover {
    color: #212121;
    text-decoration: none;
}

.widget-categories ul li a:hover:before {
    opacity: 1;
}


/* WIDGET CATEGORIES DROPDOWN */

.widget-categories-dropdown {}


/* WIDGET ARCHIVES */

.widget-archives {}

.widget-archives ul {
    margin-bottom: 0;
    list-style: none;
}

.widget-archives ul li {
    margin-bottom: 15px;
}

.widget-archives ul li:last-child {
    margin-bottom: 0;
}

.widget-archives ul li a {
    color: #838383;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-archives ul li a:before {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #b4a196;
    opacity: 0;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-archives ul li a:hover {
    color: #212121;
    text-decoration: none;
}

.widget-archives ul li a:hover:before {
    opacity: 1;
}


/* WIDGET ARCHIVES DROPDOWN */

.widget-archives-dropdown {}


/* WIDGET PAGES */

.widget-pages {}

.widget-pages ul {
    margin-bottom: 0;
    list-style: none;
}

.widget-pages ul li {
    margin-bottom: 15px;
}

.widget-pages ul li:last-child {
    margin-bottom: 0;
}

.widget-pages ul li a {
    color: #838383;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-pages ul li a:before {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #b4a196;
    opacity: 0;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-pages ul li a:hover {
    color: #212121;
    text-decoration: none;
}

.widget-pages ul li a:hover:before {
    opacity: 1;
}


/* WIDGET METADATA */

.widget-metadata {}

.widget-metadata ul {
    margin-bottom: 0;
    list-style: none;
}

.widget-metadata ul li {
    margin-bottom: 15px;
}

.widget-metadata ul li:last-child {
    margin-bottom: 0;
}

.widget-metadata ul li a {
    color: #838383;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-metadata ul li a:before {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #b4a196;
    opacity: 0;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-metadata ul li a:hover {
    color: #212121;
    text-decoration: none;
}

.widget-metadata ul li a:hover:before {
    opacity: 1;
}


/* WIDGET TAGS */

.widget-tags {}

.widget-tags a {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    padding: 5px 18px;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    margin: 5px 5px 5px 0;
    color: #838383;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-tags a:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    background-color: #b4a196;
    content: "";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-tags a:hover {
    border-color: #b4a196;
    background-color: #b4a196;
    color: #fff;
}

.widget-tags a:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (min-width: 768px) and (max-width: 991px) {
    .widget-tags a {
        padding: 3px 12px;
        font-size: 12px;
    }
}


/* WIDGET NEWSLETTER */

.widget-newsletter {}

.widget-newsletter form {
    position: relative;
}

.widget-newsletter #newsletter-email {
    width: 100%;
    height: 44px;
    padding-right: 160px;
}

.widget-newsletter button[type="submit"] {
    position: absolute;
    top: 0;
    right: -1px;
    height: 44px;
    border-radius: 0;
    font-size: 12px;
}

.widget-newsletter button[type="submit"]:after {
    border-radius: 0;
}

.newsletter-bordered {
    padding: 10px;
    border: 1px solid #ebebeb;
}

.newsletter-bordered #newsletter-email {
    padding-right: 20px;
}

.newsletter-bordered button[type="submit"] {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    border-radius: 5px;
}

.newsletter-bordered button[type="submit"]:after {
    border-radius: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .widget-newsletter #newsletter-email {
        padding-right: 20px;
    }
    .newsletter-bordered {
        padding: 0;
        border: none;
    }
    .owl-prev,
    .owl-next {
        display: none;
    }
}

@media (max-width: 767px) {
    .widget-newsletter #newsletter-email {
        padding-right: 20px;
    }
    .widget-newsletter button[type="submit"] {
        position: relative;
        right: 0;
    }
    .owl-prev,
    .owl-next {
        display: none;
    }
}


/* WIDGET RECENT POSTS */

.widget-recent-posts {}

.widget-recent-posts ul {
    margin-bottom: 0;
    list-style: none;
}

.widget-recent-posts ul li {
    line-height: 24px;
}

.widget-recent-posts ul li img {
    float: left;
    margin-right: 15px;
}

.widget-recent-posts ul li .post-title {
    color: #212121;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-recent-posts ul li .post-details {
    font-size: 12px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-recent-posts ul li .post-details a {
    padding-right: 7px;
    border-right: 1px solid #838383;
    margin-right: 3px;
    color: #838383;
}

.widget-recent-posts ul li .post-details a:last-child {
    padding-right: 0;
    border-right: 0;
    margin-right: 0;
}

.widget-recent-posts ul li .post-details a:before {
    margin-right: 5px;
    font-family: "materia-icons";
    font-size: 14px;
}

.widget-recent-posts ul li .post-details a.author:before {
    content: "\e9f3";
}

.widget-recent-posts ul li .post-details a:before {
    content: "\e920";
}

.widget-recent-posts ul li .post-title:hover,
.widget-recent-posts ul li .post-details a:hover {
    color: #b4a196;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 991px) {
    .widget-recent-posts ul li img {
        display: none;
    }
}


/* WIDGET RECENT COMMENTS */

.widget-recent-comments {}

.widget-recent-comments ul {
    margin-bottom: 0;
    list-style: none;
}

.widget-recent-comments ul li {
    margin-bottom: 15px;
}

.widget-recent-comments ul li:last-child {
    margin-bottom: 0;
}


/* WIDGET CALENDAR */

.widget-calendar {}

.widget-calendar table {
    width: 100%;
    text-align: center;
}

.widget-calendar table th,
.widget-calendar table td {
    padding: 5px;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    text-align: center;
}

.widget-calendar table th:last-child,
.widget-calendar table td:last-child {
    border-right: 1px solid #ebebeb;
}

.widget-calendar table tr:last-child td {
    border-bottom: 1px solid #ebebeb;
}

.widget-calendar table tfoot td,
.widget-calendar table tfoot td:last-child,
.widget-calendar table tfoot tr:last-child td {
    border: none;
}

.widget-calendar table td#today {
    background-color: #b4a196;
    color: #fff;
}


/* WIDGET FLICKR */

.widget-flickr {}

.flickr-photos {
    margin: -5px;
}

.flickr_badge_image {
    position: relative;
    float: left;
    padding: 5px;
}

.flickr_badge_image img {
    width: 64px;
    height: auto;
}

.flickr-photos:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media (min-width: 1200px) {
    .flickr_badge_image img {
        width: 80px;
    }
}


/* WIDGET INSTAGRAM */

.widget-instagram {}

#instafeed {
    margin: -5px;
}

#instafeed a {
    float: left;
    display: block;
    width: 72px;
}

#instafeed a img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
}

#instafeed:after {
    visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
    content: " ";
    clear: both;
}

@media (min-width: 1200px) {
    #instafeed a {
        width: 90px;
    }
}


/* WIDGET TWITTER */

.widget-twitter {
    text-align: center;
}

.tweets-list ul {
    margin-bottom: 0;
    list-style: none;
}

.tweets-list ul li {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 32px;
}

.tweets-list ul li>*:last-child {
    margin-bottom: 0;
}

.tweets-list ul li:last-child {
    margin-bottom: 0;
}


/* WIDGET CONTACT */

.widget-contact {}

.widget-contact ul {
    margin-bottom: 0;
    list-style: none;
}

.widget-contact ul li {
    position: relative;
    padding-left: 55px;
    margin-bottom: 40px;
}

.widget-contact ul li:last-child {
    margin-bottom: 0;
}

.widget-contact ul li i {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 42px;
    line-height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.widget-contact ul li:hover i {
    color: #b4a196;
}

.widget-contact ul li a {
    color: #838383;
}

.widget-contact ul li small {
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .widget-contact ul li small {
        letter-spacing: 2px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .widget-contact ul li {
        padding-left: 0;
    }
    .widget-contact ul li i {
        display: none;
    }
}


/* WIDGET SOCIAL */

.widget-social {}

.widget-social .social-media {
    margin-bottom: 0;
}